*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	background-color: pink;
}


header{
width: 100%;
height: 70px;
background-color: #464646;
}

nav ul{
float:right;
	margin-top: 20px;
	margin-right: 60px;
}
 
nav ul li{
	list-style: none;
	float: left;
	margin-right: 20px;
}

nav ul li a{
	color: #fff;
	font-family:arial;
	font-size: 16px;
}

nav ul form {
float: left;
}


nav ul form input {
float: left;
border: none;
margin-right: 6px;
}

nav ul form button {
float: left;
border: oblique;
margin-right: 20px;
background-color: #fff;
color: #222;
font-size: 16px;
cursor: pointer;
}